.Carousel {
    max-width: 100%;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}
.slideBox {
    display: flex;
    transform: translateX(0px);
    transition: transform ease-in-out 0.4s;
}
.button {
    cursor: pointer;
    user-select: none;
}
